!
username vagrant
 group root-lr
 group cisco-support
 secret 5 $1$FzMk$Y5G3Cv0H./q0fG.LGyIJS1
!
!
username root
 group root-lr
 group cisco-support
 secret 5 $1$7kTu$zjrgqbgW08vEXsYzUycXw1
!
hostname rtr2 
domain name cisco.com
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 11.11.11.2
!
vrf mgmt 
!
!
tpa
 !
 vrf default
  address-family ipv4
 !
 vrf mgmt 
  address-family ipv4
 !
!
interface MgmtEth0/RP0/CPU0/0
 vrf mgmt 
 ipv4 address 11.11.11.33/24
 no shutdown
!
interface HundredGigE0/0/1/0
 ipv4 address 10.1.1.20 255.255.255.0
 ipv6 nd unicast-ra
 ipv6 enable
!
grpc
 port 57777
 service-layer
!
netconf-yang agent
 ssh
!
ssh server vrf mgmt
ssh server vrf default
ssh server netconf vrf mgmt
!
interface loopback 0
 ipv4 address 60.1.1.1 255.255.255.255
 no shutdown
!
interface loopback 1
 ipv4 address 10.10.10.10 255.255.255.255
 no shutdown
!
!
!
end
